body {background:#468966;
}

.G {
    color: blue;
    }
    
    .o {
    color: red;
    }
    
    .o2 {
    color: #ffcc33;
    }
    
    .g {
    color: blue;
    }
    
    .l {
    color: green;
    }
    
    .e {
    color: red;
    }
    

    h1 {
        font-size: 150px;
        margin-top: 0px;
    }

/* 固定ヘッダー-------------------------------------------- */

header {
    position: fixed;
    width: 100%; 
    height: 60px; 
    background: #cee6ce; 
    padding: 20px 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
   /* ロゴとメニューを横並びにする */
    display: flex; 
    justify-content:space-between;
}

header .nav .menu {
    display: flex; 
}

header .nav .menu li {
    list-style: none; 
    margin-left: 15px;
}

header .nav .menu li a{
    color: black;
    font-weight:bold;
    text-decoration: underline;
}

main {
    text-align:center;
}

footer {
    background: #ccc; 
    padding:1em;
    margin-top:100px;
}

footer p {
    font-size: .8em;
    color: #fff;
    max-width: 800px;
    padding: 0;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
}

.title-text {
    margin-top: 100px;
    text-align: center;
}




h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    background-color: #CEE6C1;
}






.google {
    color: #fff;
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0 1px;
    text-shadow:
    0 1px #bbb,
    0 2px #aaa,
    0 3px #999,
    0 4px #888,
    0 5px #777,
    0 6px #666,
    0 7px #555,
    0 8px #444,
    0 9px #333,
    0 32px 24px rgba(0,0,0,0.7);
}










/* bgAnimeの後の奴は、明るくなり始めてからアニメーションが消えるまでの秒数で、linearの後は明るくなり始めるまでの秒数 */


.bg {
    width: 100vw;
    height: 100vh;
    background: #468966;
    animation: bgAnime 0.8s linear 2.5s forwards;
	position: absolute;
    top: 0;
    left: 0;
}

.text {
    text-align: center;
    font-size: 2vw;
    color: black;
    height: 1.2em;
    line-height: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 7;
    width: 38ch;	/*文字の長さ*/
	border-right: 5px solid #468966;	/*点滅バー*/
	overflow: hidden;	/*必須*/
	white-space: nowrap;	/*必須*/
	line-height:1.4;
	font-weight:700;
	animation: typing 3s steps(60), blink .60s step-end infinite alternate;	/*アニメーション関連*/
}

.text:after{
    content: "";
    width: 80vw;
    height: 1.2em;
    background: #cee6ce;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    animation: textAnime1 3s linear forwards;
}

@keyframes textAnime1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
    }
    




@keyframes bgAnime {
        0%{
            opacity: 1;
        }
        99%{
            opacity: 0;
        }
        100%{
            opacity: 0;
            visibility: hidden;
        }
        }



@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;		/*点滅風に見せる*/
	}
}




