h1 {text-align: center;
}

li {
display: inline-block;
}

.G {
color: blue;
}

.o {
color: red;
}

.o2 {
color: #ffcc33;
}

.g {
color: blue;
}

.l {
color: green;
}

.e {
color: red;
}