h1 {
  font-size: 150px;
  margin-top: 0px;
}



  * {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  }
  
  body{
    background:white;
    padding:75px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }
  
  /* メニューバーアニメーション-------------------------------------------- */
  
  .btn{
    color:white;
    background:black;
    padding:20px 20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:none;
  }
  
  .btn:hover{
    border:none;
    background: white;
    background:#fff;
    padding:20px 20px; #000;
    color:#1b1b1b;
  }
  
  


/* --------------------------Googleの使命は、、、のアニメーション------------------------------ */


  h2 {
    text-align: center;
    animation-duration: 5s;
    animation-name: slidein;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }






/* でかいGoogle文字------------------------------------------------------------------------- */

.G {
color: blue;
}

.o {
color: red;
}

.o2 {
color: #ffcc33;
}

.g {
color: blue;
}

.l {
color: green;
}

.e {
color: red;
}


/* ページトップに戻るボタン-------------------------------------------------- */


html {
  scroll-behavior: smooth;
}
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;  
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}


/* ------------------------------------------------------- */

.syoukai {
  font-size: 30px;
}

li#1 {
  margin: 10px 10px 10px 10px;
}


/* 固定ヘッダー-------------------------------------------- */

header {
  position: fixed;
  width: 100%; 
  height: 60px; 
  background: #ccc; 
  padding: 20px 60px; 
  box-sizing: border-box;
  top: 0; 
  left: 0; 
  display: flex; 
  align-items: center; 

 /* ロゴとメニューを横並びにする */
  display: flex; 
  justify-content:space-between;
}

header .nav .menu {
  display: flex; 
}

header .nav .menu li {
  list-style: none; 
  margin-left: 15px;
}

header .nav .menu li a{
 color: black;
 font-weight:bold;
 text-decoration: underline;
}

main {
  text-align:center;
}

footer {
  background: #ccc; 
  padding:1em;
  margin-top:100px;
}

footer p {
  font-size: .8em;
  color: #fff;
  max-width: 800px;
  padding: 0;
  text-align:center;
  margin:0 auto;
  font-weight:bold;
}


li#1 {
margin: 10px 10px 10px 10px;
}