.G {
    color: blue;
}
    
.o {
    color: red;
}

.o2 {
    color: #ffcc33;
}
    
.g {
    color: blue;
}
    
.l {
    color: green;
}

.e {
    color: red;
}

/*クローム*/
.cp_box *, .cp_box *:before, .cp_box *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_box {
	width: auto;
	margin: 2em auto;
}

.cp_box label {
	font-weight: bold;
	position: absolute; top : 200px; left: 100px;
	display: block;
	width: 15%;
    margin: 0.3em 0; 
	padding: 0.3em 1em;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
	color: blue;
	border: 2px solid blue;
	border-radius: 3px;
}

.cp_box label:hover {
	transition: all 0.3s;
	color: #FFFFFF;
	background: blue;
}

.cp_box input {
	display: none;
}

.cp_box .cp_container {
	position: absolute; top : 300px; left: 20px;
	z-index: 10;
	overflow: hidden;
	height: 0;
	margin-top: -1px;
	transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	background: rgba(255, 255, 255, 0.5);
}

.cp_box input:checked ~ div {
	transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}

/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box input:checked ~ div.cp_container {
	height: 300px;
}









/*Gmail*/

.cp_box1 *, .cp_box1 *:before, .cp_box1 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cp_box1 {
    width: auto;
    margin: 2em auto;
}
.cp_box1 label {
    font-weight: bold;
    position: absolute; top : 205px; left: 530px;
    display: block;
    width: 15%;
    margin: auto;
    padding: 0.3em 1em;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    color: #DA3C41;
    border: 2px solid #DA3C41;
    border-radius: 3px;
}
.cp_box1 label:hover {
    transition: all 0.3s;
    color: #FFFFFF;
    background: #DA3C41;
}
.cp_box1 input {
    display: none;
}
.cp_box1 .cp_container1 {
    position: absolute; top : 300px; left: 470px;
    z-index: 10;
    overflow: hidden;
    height: 0;
    margin-top: -1px;
    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    background: rgba(255, 255, 255, 0.5);
}
.cp_box1 input:checked ~ div {
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}
/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box1 input:checked ~ div.cp_container1 {
    height: 300px;
}


/*ドライブ*/
.cp_box2 *, .cp_box2 *:before, .cp_box2 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cp_box2 {
	width: auto;
	margin: 2em auto;
}

.cp_box2 label {
	font-weight: bold;
	position: absolute; top : 200px; left: 980px;
	display: block;
	width: 15%;
    margin: 0.3em 0; 
	padding: 0.3em 1em;
	cursor: pointer;
	transition: all 0.3s;
	text-align: center;
	color: #ffcc33;
	border: 2px solid #ffcc33;
	border-radius: 3px;
}

.cp_box2 label:hover {
	transition: all 0.3s;
	color: #FFFFFF;
	background: #ffcc33;
}

.cp_box2 input {
	display: none;
}

.cp_box2 .cp_container2 {
	position: absolute; top : 300px; left: 920px;
	z-index: 10;
	overflow: hidden;
	height: 0;
	margin-top: -1px;
	transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
	background: rgba(255, 255, 255, 0.5);
}

.cp_box2 input:checked ~ div {
	transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}

/* 続きを読むを押すと表示されるテキストの高さ */
.cp_box2 input:checked ~ div.cp_container2 {
	height: 300px;
}

p.Ch{
    color: #ffcc33;
    position: absolute; top : 600px; left: 60px;
}

p.Yo{
    color: #ffcc33;
    position: absolute; top : 600px; left: 580px;
}