h1 {
  font-size: 150px;
  margin-top: 0px;
}



  * {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  }
  
  body{
    background:white;
    padding:75px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
  }
  
  
  .btn{
    color:white;
    background:black;
    padding:20px 20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:none;
  }
  
  .btn:hover{
    border:none;
    background: white;
    background:#fff;
    padding:20px 20px; #000;
    color:#1b1b1b;
  }
  
  .footer{
    font-size:8px;
    color:#fff;
    clear:both;
    display:block;
    letter-spacing:5px;
    border:10px solid #fff;
    padding:5px;
    text-decoration:none;
    width:210px;
    margin:auto;
    margin-top:100px;
  }





  h2 {
    text-align: center;
    animation-duration: 5s;
    animation-name: slidein;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }








.G {
color: blue;
}

.o {
color: red;
}

.o2 {
color: #ffcc33;
}

.g {
color: blue;
}

.l {
color: green;
}

.e {
color: red;
}







html {
  scroll-behavior: smooth;
}
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;  
  right: 30px;
  bottom: 30px;
  background: #fff;
  border: solid 2px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}
