.sns-btn {
  display: flex;
  margin-top: 20px;
  
  }
  
  .sns-btn li {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  margin: auto;
  }






h1 {
  font-size: 205px;
  margin-top: 0px;
  margin-bottom: 100px;
}




body{
  background-color:#468966;
  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}
  



/* メニューバーアニメーション-------------------------------------------- */
  
.btn{
  color:white;
  background:black;
  padding:20px 20px;
  text-decoration:underline;
  letter-spacing:2px;
  text-transform:none;
}
  
.btn:hover{
  border:none;
  background: #cee6ce;
  padding:20px 20px; ;
  color:black;
}


a#home:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
  
a#about:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
  
a#service:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
  
a#active:hover{
  color: black;
  font-size: 20px;
  font-weight: bold;
}


.menuber {
  margin-top: 0px;
}


* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}






/* でかいGoogle文字------------------------------------------------------------------------- */

.G {
color: blue;
}

.o {
color: red;
}

.o2 {
color: #ffcc33;
}

.g {
color: blue;
}

.l {
color: green;
}

.e {
color: red;
}


.google {
  color: #fff;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0px;
  text-shadow:
  0 1px #bbb,
  0 2px #aaa,
  0 3px #999,
  0 4px #888,
  0 5px #777,
  0 6px #666,
  0 7px #555,
  0 8px #444,
  0 9px #333,
  0 32px 24px rgba(0,0,0,0.7);
}








a {
  color: #444;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #999;
  background: #cee6ce;
  border-top: 1px solid #e5e7eb;
  margin-top: 200px;
}

.footer a:hover {
  color: #000;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}






.intro {
  margin-top: 200px;
}


h2 {
  text-align: center;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10 {
  background-color: #cee6ce;
  padding: 50px 50px 50px 50px;
  margin: 20px 20px 20px 20px;
  display: inline-block;
  width: 25%;
  height: 400px;
  
  
}